    <div class="index-head">

		<h1>
		Breeze API
		</h1>
	</div>

	<div class="index-body">
            <p>
			Welcome to the Breeze Client API documentation.
            </p>
            <p>If this is your first time browsing the API, you might want to start with the <a href="http://www.breezejs.com/sites/all/apidocs/classes/EntityManager.html">EntityManager</a> as this is the core class in Breeze.
			</p>
			<p>
			<a href="http://www.getbreezenow.com/samples">Sample applications</a>, <a href="http://www.youtube.com/playlist?list=PL88C2B43249433416&feature=plcp"videos target="_blank">videos</a>, and <a href="http://www.getbreezenow.com/documentation/introduction">additional documentation</a>
			are also available.
			</p>
            <h3>What's public and what is not</h3>
            <p>You can develop your application with the confidence that the Breeze APIs you call are stable.</p>
            <p>Of course Breeze must continue to evolve. We pledge to be careful as it evolves, strive to preserve backward compatibility, make as few breaking changes as necessary, and alert you when we do.</p>
            <p>But we need your understanding too. We can only be accountable for the public API and the behaviors we say we support <i>in this API documentation</i>. We cannot be responsible for application code that relies on undocumented features, types, properties or implementation details.</p>
            <p>Any type or type member that is <b>not documented here</b> <i>may change at any time without notice</i>. Assume it will change if it is marked "beta" or "experimental". Almost every identifier that begins with an underscore (_) is off-limits.</p>
            <p>JavaScript doesn't hide its secrets very well. We all cheat from time to time and reference something we shouldn't. We all peek under the covers and then assume that the library will continue to work that way in the future. That's cool. We get it. All we ask is that you take responsibility for your actions.</p>
		<h2>
		Support
		</h2>
        <p>
		Ask questions on <a href="http://stackoverflow.com/questions/tagged/breeze?sort=newest" target="_blank" title="breeze on github">on github</a>, tagged with "breeze", and get answers from support engineers, MVPs, and
		developers just like you. If you prefer to use email, please contact us at <a href="mailto:breeze@ideablade.com">breeze@ideablade.com</a>.
		</p>
    </div>


